/*
  -------------
  - Font Face -
  -------------
*/

@font-face {
  font-family: "txt";
  src: url(ClementePDag-Book.ttf);
}

@font-face {
  font-family: "ClementePDai";
  src: url(ClementePDai-Regular.ttf);
}

@font-face {
  font-family: "ClementePDai";
  src: url(ClementePDaj-RegularItalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "ClementePDai";
  src: url(ClementePDak-SemiBold.ttf);
  font-weight: bold;
}


/*
  ---------------
  - HTML / Body -
  ---------------
*/
html {
  background: white url(img/back.png) repeat-x top left;
}

body {
  background: url(img/background.png) repeat-x 0 136px;
  border: 0;
  border-radius: 0;
  font-family: "txt", sans-serif;
  font-size: 0.8em;
  margin: 0;
  opacity: 1;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

a {
  color: #C56103;
  transition-duration: 0.25s;
  transition-property: color;
}

p {
  margin: 0; 
  padding: 0.3em 0;
}

form {
  margin: 0 auto;
  width: 80%;
}

label {
  color:#606060;
  display:block;
  font-weight:bold;
  margin:5px 0;
}

textarea, select {
  border-color: #c7c6c6;
}

input {
  border:none;
  border-bottom:1px dotted #ccc;
}

label {
  padding: 0.5em 60% 0.5em 0;
  text-align: right;
}

input, select, textarea {
  background: none;
  color: #777;
  left: 47%;
  margin-top: -0.2em;
  padding:0.1em;
  position: absolute;
  width:300px;
}

input[type="submit"] {
  background: #cacaca;
  border: 1px solid #767676;
}




.note {
  font-size: 0.85em;
  color: #838383;
  margin-top: 10px;
}

/*
  ----------
  - Header -
  ----------
*/
body > header {
  height: 135px;
}

header h1 {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
}

h1 a {
  background: url(img/logo.png) no-repeat 0 16px;
  color: transparent;
  display: block;
  font-size: 2em;
  height: 118px; 
  margin-left: 5%;
  width: 366px;
}



/* -
  ----------
*/
nav {
  font-size: 1.2em;
  position: absolute;
  right: 3%;
  top: 7em;
  z-index: 2;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav ul >  li {
  display: inline-block;
  position: relative;
}

nav ul > li:after {
  content: '';
  float: left;
  width: 31px;
  height: 14px;
  margin-left: 35%;
}

nav ul li:hover:after {
  content:url(img/nav-hover.png);
}

nav ul li a {
  color: #676767;
  display: block;
  padding: 0.2em 1em;
}

nav ul ul {
  background: #f6f7f7;
  font-size: 0.85em;
  display: none;
  padding: 8px 0;
  position: absolute;
  text-align: left;
  top: 2em;
}

nav ul li:hover ul {
  float: left;
  display: inline-block;
}

nav ul li ul li {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #e1e2e2;
  margin: 0 5px;
}

nav ul ul li:last-child {
  border-bottom: none;
}

nav ul ul li:first-child {
  border-top: none;
}

nav ul ul li:after {
  clear:left;
  float: none;
  height: 0;
}

nav ul ul li:hover:after {
  content: '';
}

nav ul ul li a {
  padding: 0.4em 0.5em;
  width: 10em;
}

nav ul ul li a:hover, 
nav ul ul li a:focus {
  color: #e27f23;
}

/*
  ----------
  - Section -
  ----------
*/
body > section {
  color: #5f5f5f;
  margin: 0 auto;
  width: 950px;
}

section.page-home article > header {
  display: none;
}


section article section {
  background: #fff url(img/shadow.png) no-repeat center 1px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  padding: 5% 50px;
  text-align: justify;
}

section article section section {
  background: none; 
  box-shadow: 0 0 0;
  padding: 0;
}

section.page-home {
  background: url(img/home.png) no-repeat center 1px;
  padding-top: 335px;
}

section.page-home article section {
  background: none;
  box-shadow: none;
  padding-top: 2%;
}

p.bold.center {
  font-size: 1.25em;
  text-align: center;
}

section h2 {
  color: #fff;
  display: inline-block;
  font-family: "ClementePDai";
  font-size: 3em;
  margin: 1em 0 0.2em;
  padding: 5px 0;
  font-variant: small-caps;
  letter-spacing: 0.02em;
}

section header h2:first-letter {
  color: #dd7a1d;
  font-size: 1.2em;
}

section article header > h2:before {
  content: '';
  border-radius: 50%;
  background: #fff;
  float: left;
  width: 2em;
  height: 2em;
  margin: -0.4em -0.8em 0 0;
}

section h3 {
  border-bottom: 1px solid #762642;
  color: #762642;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1em;
}

section.page-formation h3 {
  border: none;
  font-size: 2.2em;
  font-variant: small-caps;
  font-weight: bold;
  color: #dd791d;
  letter-spacing: 0.05em;
  margin: 30px 0 8px -25px;
}


section.page-formation ul {
  margin: 0;
}

section.page-formation h3:first-letter {
  color: #fff;
  font-size: 1.1em;
}

section.page-formation h3:before {
  content: '';
  border-radius: 50%;
  background: #dd791d;
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: -0.5em -0.8em 0 0;
}

section.page-formation h4 {
  color: #4a4a4a;
  font-size: 1.8em;
  font-variant: small-caps;
  margin: 15px 0 8px;
  text-decoration: underline;
}

section#nos-formules-de-formation {
  background: url(img/shadow-txt.png) no-repeat bottom center;
  padding-bottom: 45px;
}

section section.ecoform {
  padding-right: 30px;
}

section section.ecoform,
section section.flexiform {
  background: no-repeat 0 center;
  display: table-cell;
  padding-left: 100px;
  width: 305px;
}

section section.ecoform {
  background-image: url(img/picto-ecoform.png);
}

section section.flexiform {
  background-image: url(img/picto-flexiform.png);
}


section section.ecoform h5,
section section.flexiform h5 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 25px 0 0px;
}

section section.ecoform h5 {
  color: #919090;
}


section section.flexiform h5 {
  color: #a1ae3a;
}

section section.ecoform h5:first-letter, 
section section.flexiform h5:first-letter {
  font-size: 1.4em;
}


section.page-contact ul {
  display: inline-block;
  list-style: none; 
  padding: 50px 0 40px 110px;
  width: 315px;
}

section.page-contact .address {
  background: url(img/mail.png) no-repeat 15px 0;
}

section.page-contact .phone {
  background: url(img/phone.png) no-repeat 15px 0;
}


/* - Page tests de lisibilité - */
section.page-tests p {
  padding-left: 50px;
  width: 380px;
}

section.page-tests section {
  background: #fff url(img/notice_img.png) no-repeat top right;
  min-height: 345px;
}



/*
  ----------
  - Aside -
  ----------
*/
aside {
  bottom: 0;
  box-shadow: 0px 1px 3px #1a171a;
  margin: 0 100px 0 0;
  padding: 0 1em;
  position: absolute;
  right: 70px;
  text-align: right;
  top: 0;
  width: 230px;
  z-index: 1;
}

aside h2 {
  background: none;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 224px;
  padding-bottom: 40px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}

aside h3 {
  background-color: #752641; 
  color: white;
  display: inline;
  font-size: 1em;
  font-weight: normal;
  margin: 10px -30px 10px 0;
  padding: 2px 5px 2px 5px;
  text-shadow: none;
  text-transform: uppercase;
}

aside li {
  list-style: none;
}

aside li a {
  color: #752641;
}

aside li a:hover {
  background: none;
  color: white;
  font-weight: bold;
}


/*
  ----------
  - Footer -
  ----------
*/
footer {
  background: linear-gradient(#e27f23, #c56103);
  font-size: 0.9em;
  margin-top: -20px;
  padding: 32px 0 15px;
  position: relative;
  text-align: center;
  z-index: 1;
}

footer ul {
  margin: 0;
}

footer ul li {
  display: inline-block;
  padding: 0 10px;
}

footer ul li a {
  color: #fff;
}


